<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VuePlusAPI</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <button v-on:click="ShowMyList()" >My menu-list </button>
            <p>{{ message }}</p>
            <input type="text" v-model="countryName" placeholder="Country?">
            <button :disabled='fildIsFalid' v-on:click="CountryCuisine()" >Get country cuisine</button>
            <button class ="info_button"title="Information" v-on:click="CallListOfCountries()" > Inf </button>
            <hr>
            <div>
                <div v-if="(items)">
                    <p>No data in database. :( </p>
                    <hr>
                </div>

                <div v-else >

                    <div v-if="isList == 1">
                        <div v-for="item in items">

                            <h3>{{ item.strMeal }}</h3>
                            <img  v-bind:src="item.strMealThumb">
                            <br>
                            <button v-on:click='Details(item.idMeal)'> Details </button>
                            <hr>

                        </div>
                    </div>

                    <div v-else-if="isList == 2">
                        <div v-for="item in items">

                            <h3>{{ item.strMeal }}</h3>
                            <a v-bind:href="item.strYoutube" target="_blank">
                                <img v-bind:src="item.strMealThumb" title="Link to Youtube">
                            </a>
                            <hr>
                            <p class="recipe">{{ menuDetails.strInstructions }}</p>
                            <button v-on:click='DeleteItemFromList(item)'> Delete </button>
                            <hr>

                        </div>
                    </div>

                    <div v-else>

                        <button v-on:click='AddItemToMyList(menuDetails)'> Add to my list </button>
                        <h3>{{ menuDetails.strMeal }}</h3>
                        <a v-bind:href="menuDetails.strYoutube" target="_blank">
                            <img v-bind:src="menuDetails.strMealThumb" title="Link to Youtube">
                        </a>
                        <hr>
                        <p class="recipe">{{ menuDetails.strInstructions }}</p>
                        <hr>

                    </div>
                </div>
            </div>

            <div>
                <a href="https://www.themealdb.com/api.php?ref=apilist.fun" target="_blank">
                    <p>TheMealDB API</p>
                </a>
            </div>
        </div>

        
        <script>

            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello. Witch country cuisine you want to see?',
                    fildIsFalid: true,
                    isList: 1,
                    countryName: "",
                    menuDetails: "",
                    smallMessage: "",
                    items: [],
                    selectedItems: [],
                    allCountryList: []

                },
                watch:{
                    // Watcher checks is the entred word is name of country's cusine (from list)
                    countryName: function(){
                        if(this.countryName == ""){
                            
                            this.message = 'Hello. Witch country cuisine you want to see?';
                            this.fildIsFalid = true;

                        }
                        else if(this.allCountryList.indexOf(this.countryName) != -1){ 

                            this.message = 'This cuisine exist in the database';
                            this.fildIsFalid = false;
                        
                        }else{

                            this.message = "Enter country cuisine (Ex: Russian, Indian)";
                            this.fildIsFalid = true;
                        }
                    }

                },

                methods:
                {
                    // Method returns list of dishes.
                    CountryCuisine(){
                        this.isList = 1;
                        this.menuDetails = "";
                        axios.get('https://themealdb.com/api/json/v1/1/filter.php?a='+this.countryName).then( (res) =>{
                            let object = res.data;
                            this.items = object.meals;
                        })
                    },
                    
                    // Method returns dish details.
                    Details(idMeal){
                        this.isList = 0;
                        this.menuDetails = "";
                        axios.get('https://www.themealdb.com/api/json/v1/1/lookup.php?i='+idMeal).then( (res) =>{
                            let object = res.data;
                            this.menuDetails = object.meals[0];
                        })
                    },

                    GetItemById(idMeal){
                        axios.get('https://www.themealdb.com/api/json/v1/1/lookup.php?i='+idMeal).then( (res) =>{
                            let object = res.data;
                            return object.meals[0];
                        })
                    },
                    
                    // Method returns list of country
                    GetAllCountry(){
                        axios.get('https://www.themealdb.com/api/json/v1/1/list.php?a=list').then( (res) =>{
                            let object = res.data.meals;
                            let cuntryList = [];
                            let index = 0;
                            object.forEach(obj => {
                                cuntryList[index] = obj.strArea;
                                index++;
                            });

                            this.allCountryList = cuntryList;
                        })
                    },

                    //  Method writes list of country (alert)
                    CallListOfCountries(){
                        let listOfCountries = "List of availabe regions:\n";
                        this.allCountryList.forEach(country => {
                            listOfCountries += '\n' + country;
                        });
                        alert(listOfCountries);
                    },

                    // -----------------------
                    //  Method adds new item to user list.
                    AddItemToMyList(item){

                        let indexx = this.selectedItems.find(obj => {
                                        return obj.idMeal == item.idMeal
                                    })

                        if(indexx == null){
                            alert(item.strMeal + " added to list.")
                            let index = this.selectedItems.length
                            this.selectedItems[index] = item;
                        }
                        else{
                            alert(item.strMeal + " already in your list!")
                        }
                    },

                    // Method deletes item from user list.
                    DeleteItemFromList(item){
                        let index = this.selectedItems.indexOf(item);
                        if (index > -1) {
                            this.selectedItems.splice(index, 1);
                        }
                        this.items = this.selectedItems
                    },

                    // Method displays a list of selected dishes.
                    ShowMyList(){
                        this.isList = 2;
                        this.items = this.selectedItems
                    },
                
                },

                beforeMount(){
                    this.GetAllCountry();
                }

            })
            
        //<!-- https://www.themealdb.com/api.php?ref=apilist.fun -->
        </script>
    </body>
</html>