body{
    background-color: lightgreen;
}

#app{
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px 20px 20px;
}

.recipe{
    padding: 0px 20px 0px 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button:hover {
    background-color: #3d7a3f; /* Green */
  }

input{
    height: 30px;
    width: 150px;
}
input[type=text]:focus {
    background-color: lightblue;
}

img{
    width: 200px;
    height: 200px;
}